{% extends 'base.html' %}
{% block title %}{% if post %}<title>{{ post.title }}</title>{% endif %}{% endblock %}

{% block content %}
<body class="canvas-container">

<br><br>
  <main role="main" class="container">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-md-8 blog-main">
          {% if post %}
              <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.created_date }}</p>
                
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.slug }}" width="100%" height="auto">
                {% endif %}
                
                {{ post.text|safe }}
                
                <div class="row">
                  {% for i in images %}
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <img src="{{ i.image.url }}" alt="{{ post.slug }}" width="180">
                      <div class="caption">
                        <p>{{ i.image.caption }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% for tag in post.tags.all %}
                <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag }}</a>
                {% endfor %}

              
            </div>

          {% endif %}

          <!-- Update Post -->
          {% if user.is_authenticated %}
            {% if post %}
              <a href="{% url 'update_post' post.slug %}" class="btn btn-primary btn-sm" role="button">Update Post</a>
            {% endif %}
          {% endif %}
          <!-- End Update Post -->
          <br><br>
          </div>
          
        </div> <br>
    <hr>
    {% block cards %}
    <div class="container-fluid">
    <div class="col-12 col-md-10 mb-3 mx-auto">
      
        <div class="row row-cols-1 row-cols-md-3 g-4">
          
          {% for post in suggestions %}
          <div class="px-1 py-1 d-flex align-items-stretch"> 
            
            <div class="card" style="width: 18rem; margin-bottom: 0rem;">
              <a href="{% url 'post' post.slug %}">{% if post.image %}<img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" height="110"  style="object-fit: cover;">{% endif %}</a>
              <div class="card-body card-body-cascade">
                <a href="{% url 'post' post.slug %}" class="card-link"><h5 class="card-title">{{ post.title }}</h5></a>
                <p class="card-text">{{ post.text|safe|truncatechars_html:80 }}</p>
                <p class="card-text"><small class="text-muted">{{ post.created_date }}</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    </div>

    </main>
    
  {% endblock %}
  
<br>
</body>
{% endblock %}
