{% extends 'dashboard.html' %}

{% block content %}
<div class="container my-5 z-depth-1">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Year</th>

                    <th>Year (AD)</th>
                    <th>Grade</th>
                    <th>Section</th>
                    <th>Description</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for o in objects %}
                <tr>
                    <td>{{ o.year }}</td>
                    <td>{{ o.year_ad }}</td>
                    <td>{{ o.grade }}</td>
                    <td>{{ o.section }}</td>
                    <td>{{ o.description }}</td>
                    <td><a href="{% url 'update_yeargradesection' o.pk %}" class="btn btn-primary btn-sm">Edit</a></td>
                    <td><a href="{% url 'delete_yeargradesection' o.pk %}" class="btn btn-danger btn-sm">Delete</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                        class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}