{% extends 'base.html' %}

{% block content %}
    <div class="container my-5 z-depth-1">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB (AD)</th>
                    <th>DOB (BS)</th>
                    <th>Roll Number</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Attendance</th>
                    <th>Parent/Guardian</th>
                    <th>Admitted On (AD)</th>

                </tr>
            </thead>
            <tbody>
            {% for s in students %}
                <tr>
                    <td>{{ s.first_name }} {{ s.last_name }}</td>
                    <td>{{ s.dob }}</td>
                    <td>{{ s.dob_bs }}</td>
                    <td>{{ s.roll_number }}</td>
                    <td>{{ s.address }}</td>
                    <td>{{ s.phone_number }}</td>
                    <td>
                        {% for attendance in attendances %}
                        {% if attendance.student == s %}
                        {{ attendance.count }}
                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for sp in student_parents %}
                        {% if sp.student == s %}
                        {{ sp.parent.first_name }} {{ sp.parent.last_name }} ({{ sp.relationship }}) <br>
                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>{{ s.admitted_on }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
    </div>
{% endblock %}
