{% extends 'dashboard.html' %}

{% block content %}
<div class="container my-5 z-depth-1">
    <a href="{% url 'create_student' %}" class="btn btn-success btn-sm">Add Student</a>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DateOfBirth</th>
                    <th>Class</th>
                    <th>Roll Number</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Attendance</th>
                    <th>Parent/Guardian</th>
                    <th>AdmittedOn</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for s in students %}
                <tr>
                    <td>{{ s.first_name }} {{ s.last_name }}</td>
                    <td>{{ s.dob_bs|date:'Y-m-d' }}<span class="badge text-bg-info">{{ s.dob|date:'Y-m-d' }} A.D.</span>
                    </td>

                    <td>{% for g in yeargradesectionstudent %}
                        {% if g.student == s %}
                        {{ g.year_grade_section.grade }}
                        <span class="badge text-bg-info">{{ g.year_grade_section.year }}</span>
                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>{{ s.roll_number }}</td>
                    <td>{{ s.address }}</td>
                    <td>{{ s.phone_number }}</td>
                    <td>
                        {% for attendance in attendances %}
                        {% if attendance.student == s %}
                        {{ attendance.count }}
                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for sp in student_parents %}
                        {% if sp.student == s %}
                        {{ sp.parent.first_name }} {{ sp.parent.last_name }}
                        <span class="badge text-bg-info">{{ sp.relationship }}</span> <br>
                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>{{ s.admitted_on_bs|date:'Y-m-d' }}<br><span
                            class="badge text-bg-info">{{ s.admitted_on|date:'Y-m-d' }} A.D.</span></td>
                    <td><a href="{% url 'update_student' s.pk %}" class="btn btn-primary btn-sm">Edit</a></td>
                    <td><a href="{% url 'delete_student' s.pk %}" class="btn btn-danger btn-sm">Delete</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                        class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}